* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tilt Neon", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form {
    background-color: #D1DCE7;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 5rem; */
}

.left {
    animation: popUp 200ms ease-in-out;
}

textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 10px 0px #803636;
}

.colors {
    margin-top: 2rem;
}

.text-color, .bg-color {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.add-note {
    margin-top: 1rem;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    border: none;
    background: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms;
}

.add-note:hover {
    transform: scale(1.05);
}

input {
    border: none;
    background-color: transparent;
    /* padding: 5rem; */
    height: 2.2rem;
    width: 4rem;
    cursor: pointer;
}

.right {
    width: 50%;
    padding: 0 1.5rem;
}

.right-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    /* align-items: center; */
}

.sticky-notes {
    display: flex;
    flex-wrap: wrap;
}

.sticky-note {
    /* background-color: aqua; */
    max-width: 100%;
    padding: 0.5rem 1rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    animation: popUp 200ms ease-in-out;
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.context {
    word-wrap: break-word;
}

.cross {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 200ms;
}

.edit-btn {
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 200ms;
}

.edit-btn:hover {
    color: white;
}

.cross:hover {
    color: white;
}

.no-note {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10rem;
}